<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 col-xs-3">
            <div class="left-list">
                <h5 class="mb-2">ÜRÜNLER</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Mermer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Traverten
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Limestone
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Oniks
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Bazalt
                    </label>
                </div>
            </div>

            <div class="left-list mt-5">
                <h5 class="mb-2">KATEGORİLER</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Fayans
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Mozaik
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Lavabo | Kurna | Duş Teknesi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Havuz Döşemeleri
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Profil
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Plaka
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Su Jeti
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Masa Sehpa
                    </label>
                </div>
            </div>

            <div class="left-list mt-5">
                <h5 class="mb-2">MOZAİK</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Patlatma Mozaikler
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Özel Mozaikler
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Cilalı Mozaikler
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Eskitme Mozaikler
                    </label>
                </div>
            </div>

            <div class="left-list mt-5">
                <h5 class="mb-2">RENKLER</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Bej
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Beyaz
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Gri
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Kahverengi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Krem
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Renkli
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Sarı
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Siyah
                    </label>
                </div>
            </div>

            <div class="left-list mt-5">
                <h5 class="mb-2">YÜZEY İŞLEMLERİ</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Eskitme
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Dolgulu ve Honlu
                    </label>
                </div>
            </div>
        </div>
