@model IEnumerable<EntityLayer.Concrete.About>
    @foreach (var item in Model)
    {
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="@item.Image" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">@item.Title</h1>
            <p>@item.ShortAbout</p>
            <a class="btn btn-primary" href="~/About/Index">Devamını Oku</a>
        </div>
    </div>
    <!-- Call to Action-->
</div>}
