@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">

    <!-- Post item-->
    @foreach (var item in Model)
    {
    <div class="post-item border">
        <div class="post-item-wrap">
            <div class="post-image">
                <a href="#">
                    <img alt="" src="@item.Image">
                </a>
                
            </div>
            <div class="post-item-description">
                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                <span class="post-meta-comments">
                    <a href="">
                        <i class="fa fa-comments-o"></i>33
                        Comments
                    </a>
                </span>
                <h2><a href="#">@item.Title</a></h2>
                <p>
                    @item.Description
                </p>

                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

            </div>
        </div>
    </div>}

   

</div>

