<div class="swiper mySwiper mt-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <h3 style="position: absolute; color: white; bottom: 70px;">Başlık</h3>
            <h5 style="position: absolute; color: white; bottom: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, asperiores.</h5>
            <img src="/posus/src/slide-carrara.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <h3 style="position: absolute; color: white; bottom: 70px;">Başlık</h3>
            <h5 style="position: absolute; color: white; bottom: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, asperiores.</h5>
            <img src="/posus/src/slide-ivory.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <h3 style="position: absolute; color: white; bottom: 70px;">Başlık</h3>
            <h5 style="position: absolute; color: white; bottom: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, asperiores.</h5>
            <img src="/posus/src/slide-patlatma.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <h3 style="position: absolute; color: white; bottom: 70px;">Başlık</h3>
            <h5 style="position: absolute; color: white; bottom: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, asperiores.</h5>
            <img src="/posus/src/slide-tundra-darkj.jpg" alt="">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
