@model IEnumerable<EntityLayer.Concrete.Plates>
@foreach (var item in Model)
{
<div class="container mt-5">

    <div class="row">
        <div class="col-sm-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                 class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="@item.Image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>@item.PlatesName</h3>
            <p>
               @item.PlatesAbout
            </p>
            <button id="teklif" type="button" class="btn btn-dark text-light btn-sm mt-3">Teklif İste</button>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-2">
            <h5>Açıklama</h5>
        </div>
        <div class="col-sm-10">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti provident amet hic
                exercitationem, maiores omnis cum itaque cupiditate incidunt aperiam fugiat nostrum, autem sed
                quisquam! Eos quibusdam eaque velit quam ipsum voluptatum eius officiis placeat at
                necessitatibus aperiam laudantium atque iusto, perspiciatis consectetur quas et corrupti cumque
                veniam error harum? Illum reiciendis nulla repudiandae corporis impedit unde aut dolores
                eveniet. Quas nesciunt similique cupiditate earum possimus repellat consectetur aut, soluta
                nihil voluptatum error obcaecati cumque deleniti, nulla rem ipsam cum explicabo magnam fuga
                asperiores tenetur eligendi. Ut odit repellendus aperiam voluptates earum perspiciatis eos, ea
                officiis, esse quod asperiores.
            </p>
        </div>
    </div>
   
</div>}
